body {
    margin: 0px;
    padding: 0px;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.main {
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
    background-image: repeating-linear-gradient(#36d1dc, #5b86e5);
    padding: 0px 10px 0px 10px;
    border: groove;
    border-radius: 10px;
}

#miliheading {
    color: rgb(56, 7, 146);
}

h2 {
    font-size: 50px;
    letter-spacing: 3px;
    color: red;
    text-decoration: underline;
}

h1 {
    display: inline-block;
    font-size: 80px;
    margin: 20px 5px 10px 5px;
    width: 100px;
}

#btnstart {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    outline: none;
    background-color: yellow;
    font-weight: bold;
    font-size: 15px;
    margin-right: 15px;
}

#btnreset {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    outline: none;
    background-color: blue;
    font-weight: bold;
    font-size: 15px;
    color: white;
    margin-left: 15px;
}

.btns {
    margin-top: 20px;
}

.records {
    width: 100%;
    height: 100px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}

table td {
    width: 130px;
    font-size: 20px;
}

.footer {
    font-family: 'Special Elite', cursive;
    margin-top: 40px;
}

@media screen and (max-width: 800px) {
    .main {
        left: 50%;
    }
}

@media screen and (max-width: 550px) {
    .main {
        left: 50%;
        width: 90%;
    }
    .records {
        height: 120px;
        margin-bottom: 30px;
    }
    h1 {
        font-size: 65px;
        width: 85px;
    }
    h2 {
        font-size: 40px;
    }
}